/*================================
=            Variable            =
================================*/

$primary: #000000; //Темно-синий
$secondary: #de0028; //Красный
$third: lighten($primary, 90%); //15% $primary
$fourth: #fff;
$five: #f2a07c; // 50% $secondary
$six: #000000;
$seven: #dfdfe8;
$error: #ff9015;
$success: #19d3c5;

$temp: #64000f; //Красный

$error: $third;
$success: $fourth;

$border_thin: 0.1rem;
$border_normal: 0.3rem;
$border_bold: 0.6rem;

$base-duration: 0.2s;
$base-timing: 0.3s;

/* Media
-------------------------------------------------- */
$imac27: 2560px;
$imac21: 1920px;
$cinema: 1680px;
$pad_g: 1080px;
$pad_v: 820px;
$mobile: 570px;

$XXLarge: (media: "(min-width: #{$imac21})");
$XLarge: (media: "(min-width: #{$cinema}) and (max-width: #{$imac21})");
$Large: (media: "(min-width: #{$pad_g}) and (max-width: #{$cinema})");
$Medium: (media: "(max-width: #{$pad_g})");
$XSmall: (media: "(max-width: #{$pad_v})");
$Small: (media: "(max-width: #{$mobile})");
$HSmall: (media: "(max-height: 420px)");

/* End of Media
-------------------------------------------------- */
$padding: 1rem;
$heightPart: 1vmax;
$wrapperWidth: $padding * 75;
$wrapperWidthPad: $padding * 62;
$wrapperWidthMobile: calc(100% - (#{$padding} * 2));

$objectScew: skew(-22deg);
$objectScewReverse: skew(22deg);
$objectScewReverseUp: skew(42deg);

/* Layout
-------------------------------------------------- */
%wrapperWidth {
    width: $padding * 75;

    @include grid-media($Medium) {
        width: $padding * 62;
    }

    @include grid-media($XSmall) {
        width: calc(100% - (#{$padding} * 2));
    }

    @include grid-media($Small) {
        width: calc(100% - (#{$padding} * 2));
    }
}

/* Header
-------------------------------------------------- */
$headerTopHeight: calc(#{$padding} * 5);
$headerBottomHeight: calc(#{$padding} * 2.5);
$headerLineHeight: calc(#{$padding} / 3);
$headerHeight: calc(#{$headerTopHeight} + #{$headerBottomHeight});

$headerLogoWidth: 18rem;
$headerInfoWidth: 35%;
$headerMenuPadding: 5rem;
$headingPartPadding: calc(#{$padding} * 4);

$headerHeightMobile: $padding;
$headerHeightBottom: $padding;

/* Nav
-------------------------------------------------- */
$colorTextActive: $primary;
$colorTextHover: $secondary;
$navLiBackgroundActive: darken($primary, 7%);

/* Page
-------------------------------------------------- */
$sectionTopHeight: 100vh;
$sectionTopImageWidth: 13rem;
$sectionTopImageHeight: calc(100vh - #{$headerHeight});
$sectionTopLineHeight: calc(1rem + 10vmin);

$sectionServicesTitleHeight: calc(#{$padding} * 6);
$sectionServicesImageHeight: calc(#{$padding} * 6);
$sectionServicesLiWidth: calc(#{$wrapperWidth} / 3);
$sectionServicesLiHeight: calc(#{$wrapperWidth} / 2.5);

$sectionServicesLiWidthPad: 50%;

$cardHoverBackground: lighten($third, 15%); //lighten($primary, 60%)

$inputHeight: $padding * 2.5;

$structureLogoWidth: 20%;

$sectionTopHeightMobile: 40vmax;

$modalWidth: calc((#{$padding} * 50) - (#{$padding} * 6));

/* Section
-------------------------------------------------- */
$sectionInfoWidth: 100vw;
$sectionInfoHeight: 25vh;
$sectionInfoTitleWidth: 50%;
$sectionInfoTitleHeight: 10vh;
$sectionInfoImageWidth: 50vw;
$sectionTopImageLeft: 9rem;

$sectionTopInfoHeight: 4rem;

/* Mobile
-------------------------------------------------- */
$headerMobileTopHeight: calc(#{$padding} * 3);


/*=====  End of Variable  ======*/


/*=================================================
=                   Row Machine                   =
=================================================*/

@mixin rowMachineBorder($numPerRow, $margin, $borderWidth) {
    // width: calc((100% - ((#{$numPerRow} - 1) * #{$margin}) - ((#{$numPerRow} - 1) * (#{$borderWidth} * 2))) / #{$numPerRow});
    // width: calc((100% / #{$numPerRow}) - (#{$borderWidth} * 2) - ((#{$margin} * (#{$numPerRow} - 1)) / #{$numPerRow}));
    width: calc(((100% - (#{$margin} * (#{$numPerRow} - 1))) / #{$numPerRow}) - (#{$borderWidth} * 2));
    // width: calc((100% - (#{$borderWidth} * 2) - ((#{$numPerRow} - 1) * #{$margin})) / #{$numPerRow});
    display: inline-block;
    border: $borderWidth solid $five;
    // float: left;

    &:nth-child(n) {
        margin-bottom: $margin;
        margin-right: $margin;
        // margin-left: -(($numPerRow - 1) * 0.1rem);
    }

    // &:first-child {
    // 	margin-left: 0;
    // }

    &:nth-of-type(#{$numPerRow}n) {
        margin-right: 0;
        // margin-left: 0;
    }

    // @include grid-media($Medium) {
    // 	&:nth-child(n) {
    // 		margin-right: 0;
    // 	}
    // }

    // @include grid-media($Small) {
    // 	&:nth-child(n) {
    // 		margin-right: -5px;
    // 	}
    // }
}

@mixin rowMachine($numPerRow, $margin) {
    width: calc((100% - ((#{$numPerRow} - 1) * #{$margin})) / #{$numPerRow});
    // width: calc((100% - ((#{$numPerRow} / #{$numPerRow}) * #{$margin})) / #{$numPerRow}); //решение для fenom
    display: inline-block;
    // float: left;

    &:nth-child(n) {
        margin-bottom: $margin;
        margin-right: $margin;
        // margin-left: -(($numPerRow - 1) * 0.1rem);
    }

    // &:first-child {
    // 	margin-left: 0;
    // }

    &:nth-of-type(#{$numPerRow}n) {
        margin-right: 0;
        // margin-bottom: 0;
    }

    // &:nth-of-type(calc(#{$numPerRow} + 1)n) {
    //     margin-left: 0;
    // }

    // @include grid-media($Medium) {
    // 	&:nth-child(n) {
    // 		margin-right: 0;
    // 	}
    // }

    // @include grid-media($Small) {
    // 	&:nth-child(n) {
    // 		margin-right: -5px;
    // 	}
    // }
}

@mixin rowMachinePadding($numPerRow, $padding) {
    width: calc((100% - ((#{$numPerRow} - 1) * (#{$padding} / 0.8))) / #{$numPerRow});
    // width: calc((100% - ((#{$numPerRow} / #{$numPerRow}) * #{$margin})) / #{$numPerRow}); //решение для fenom
    display: inline-block;
    padding: 0 $padding $padding 0;

    &:nth-child(n) {
        margin-bottom: 0;
        margin-right: 0;
    }

    // &:first-child {
    // 	margin-left: 0;
    // }

    // &:nth-of-type(#{$numPerRow}n) {
    //     // margin-right: 0;
    //     // margin-bottom: 0;
    //     padding-right: 0;
    // }

    // &:nth-of-type(calc(#{$numPerRow} + 1)n) {
    //     margin-left: 0;
    // }

    // @include grid-media($Medium) {
    // 	&:nth-child(n) {
    // 		margin-right: 0;
    // 	}
    // }

    @include grid-media($Small) {
        &:nth-child(n) {
            width: calc((100% - ((#{$numPerRow} - 1) * (#{$padding} / 0.5))) / #{$numPerRow});
            padding: $padding / 2;
        }
    }
}

/*============  End of Row Machine  =============*/

/*=============================
=            Fonts            =
=============================*/

@font-face {
    font-family: "Montserrat Regular";
    src: local("fonts/"),
    url("fonts/Montserrat-Regular.woff2") format("woff2"),
    url("fonts/Montserrat-Regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat Medium";
    src: local("fonts/"),
    url("fonts/Montserrat-Medium.woff2") format("woff2"),
    url("fonts/Montserrat-Medium.woff") format("woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat Bold";
    src: local("fonts/"),
    url("fonts/Montserrat-Bold.woff2") format("woff2"),
    url("fonts/Montserrat-Bold.woff") format("woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

$fa-font-path: 'fonts/';

//$primary-font: $font-stack-helvetica;
// $primary-font: $font-stack-verdana;
$primary-font: "Montserrat Regular";
$heading-font: "Montserrat Bold";
$heading-font-normal: "Montserrat Medium";
$heading-font-light: "Montserrat Regular";

$body-font-color: $primary;

$body-font-size: 1rem !default;
$body-font-weight: normal !default;
$body-line-height: 1.4 !default;
$heading-line-height: 1 !default;

$heading-font-modular: 1vw !default;

$bourbon: (
        "modular-scale-base": $heading-font-modular,
        "modular-scale-ratio": $major-third,
);

$font-size-base: $body-font-size !default;
$font-size-large: $font-size-base + 0.2 !default; // ~18px
$font-size-small: $font-size-base - 0.2 !default; // ~14px

$font-size-h1: calc(#{$font-size-base} + 1.8rem) !default; //calc(1rem + 2vmax) !default; // ~3rem 48px modular-scale(6)
$font-size-h2: calc(1rem + 0.9vmax) !default; // ~2.5rem 40px modular-scale(5)
$font-size-h3: calc(#{$font-size-base} + 0.5rem) !default; // ~2rem 33px calc(1rem + 0.7vmax) !default
$font-size-h4: calc(#{$font-size-base} + 0.2rem) !default; // ~1.728rem 28px
$font-size-h5: calc(1rem + 0.10vmax) !default; // ~1.44rem 23px
$font-size-h6: calc(1rem + 0.07vmax) !default; // ~1.2rem 19px

%px {
    font: {
        family: $primary-font;
        weight: $body-font-weight;
        size: $font-size-base;
    };
    line-height: $body-line-height;
    color: $body-font-color;
    //text-indent: 1rem;

    // @include grid-media($XXLarge) {
    //     font-size: modular-scale(3);
    // }

    @include grid-media($XLarge) {
        font-size: $font-size-base;
    }

    @include grid-media($Medium) {
        font-size: $font-size-base;
    }

    @include grid-media($XSmall) {
        font-size: $font-size-base;
    }

    @include grid-media($Small) {
        font-size: $font-size-base;
    }
}

%hx {
    font: {
        family: $heading-font;
        weight: 400;
    };
    color: $primary;
    line-height: $heading-line-height;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

/*=====  End of Fonts  ======*/


/*==============================
=            Layout            =
==============================*/

body {
    @extend %px;
    margin: 0;
    background-color: $fourth;
}

h1 {
    @extend %hx;
    font-size: $font-size-h1;
    margin: ($padding * 1.3) 0 0;
    // line-height: 0.5;
    //text-align: center;
    //transition: all .3s;

    @include grid-media($XSmall) {
        font-size: calc(#{$font-size-base} + 2.3vmax);
        line-height: 1;
    }
}

h2 {
    @extend %hx;
    font-size: $font-size-h2;

    @include grid-media($XSmall) {
        font-size: calc(#{$font-size-base} + 1.3vmax);
        // line-height: 1;
    }
}

h3 {
    @extend %hx;
    font-size: $font-size-h3;
}

h4 {
    @extend %hx;
    font-size: $font-size-h4;
}

h5 {
    @extend %hx;
    font-size: $font-size-h5;
}

h6 {
    @extend %hx;
    font-size: $font-size-h6;
}

.large-text {
    font-size: $font-size-large;
}

.small-text {
    font-size: $font-size-small;
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {

        @include grid-media($XLarge) {
            font-size: $font-size-base;
        }

        @include grid-media($Medium) {
            font-size: $font-size-base;
        }

        @include grid-media($XSmall) {
            font-size: $font-size-base;
        }

        @include grid-media($Small) {
            font-size: $font-size-base;
        }
    }
}

a {
    color: $primary;
    text-decoration: none;
    transition: color $base-duration;
    outline: none;

    // &:active,
    // &:focus,
    // &:hover {
    //     //color: $action-color;
    // }
}

i {
    transition: all $base-duration;
}

svg {
    transition: all $base-duration;
}

%input {
    outline: none;
    margin-bottom: 1rem;
    font-family: $primary-font;
    font-size: $font-size-base;
    // text-align: center;
    border: 0.15rem solid $primary;
    border-radius: 0;
    background-color: transparent;
    color: $secondary;
    transition: all 0.3s;
    // -webkit-appearance: none;

    &:focus {
        background-color: $fourth;
        border-color: $secondary;
    }

    &:focus::-webkit-input-placeholder {
        opacity: 0;
        transition: all 0.3s;
    }

    &:focus::-moz-placeholder {
        opacity: 0;
        transition: all 0.3s;
    }

    &:focus::-ms-input-placeholder {
        opacity: 0;
        transition: all 0.3s;
    }

    &::-webkit-input-placeholder {
        /* WebKit browsers */
        color: $secondary;
    }

    &::-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: $secondary;
        opacity: 1;
    }

    &::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: $secondary;
        opacity: 1;
    }

    &::-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: $secondary;
    }
}

select {
    // A reset of styles, including removing the default dropdown arrow
    appearance: none;
    // Additional resets for further consistency
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}

%image {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    object-position: center;
    object-fit: cover;
}

/*=====  End of Layout  ======*/

