/*====================================
=            Front Slider            =
====================================*/

%ms-nav-arrow {
    border: 1px solid $secondary;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    text-align: center;
    position: absolute;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s cubic-bezier(.4,0,.2,1);
}

%arrow-before {
    content: "";
    width: 58px;
    height: 58px;
    display: block;
    background-size: cover;
    background-size: 50% 50%;
    top: 0;
    left: 0;
    padding: 14px;
    position: relative;
    z-index: 2;
    transition: all 0.3s;
}

%arrow-after {
    content: '';
    //width: 100%;
    //height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-color: $secondary;
    z-index: 1;
    //box-sizing: border-box;
    transition: transform 0.45s cubic-bezier(.4,0,.2,1) 75ms;
    transform: scaleX(0);
}

.ms-view {
    background-color: lighten($primary, 95%);
}

.gallery {
    width: 50%;
    //min-height: $main-inside-height;
    position: relative;
    z-index: 2;

    &__title {
        position: relative;
        display: block;
        right: 0;
        top: 0;
        background-color: $secondary;
        margin: 0;
        font-size: $font-size-h2;
        //padding: 1.5vw 0 1.5vw 2rem;
        text-align: right;

        // h2 {
        //     //margin-top: 0;
        // }
    }

    &__photo {
        width: 100%;
        height: auto;
        position: relative;
        overflow: hidden;
        //background-color: #ccc;

        .ms-container {
            overflow: hidden;
            //height: $main-slider-height;
        }

        .ms-slide {

            &-bgcont {

                img {
                    width: 100%;
                    height: auto;
                    display: block;
                    margin: 0 auto;
                }
            }
        }

        &__info {
            width: 100%;
            height: 64px;
            position: absolute;
            background-color: $secondary;
            padding-right: 2em;

            .ms-info {
                text-align: right;
            }
        }
    }

    &__arrow {
        width: 122px;
        height: 60px;
        position: absolute;
        left: 100%;
        top: 70vh;
        transform: translate(-150%, -100%);

        //Arrows
        .ms-nav-prev {
            @extend %ms-nav-arrow;
            left: 100%;
            bottom: 0;
            margin-left: -62px;

            svg {
                fill: none;
                stroke: $secondary;
                stroke-width: 8;
                z-index: 10;
                transition: all 0.3s;
            }

            &::after {
                @extend %arrow-after;
                transform-origin: center right;
            }

            &:hover {


                svg {
                    stroke: $primary;
                    transform: translateX(-5px);
                }

                &::after {
                    transform: scaleX(1);
                    transition-delay: 0s;
                }
            }
        }

        .ms-nav-next {
            @extend %ms-nav-arrow;
            left: 100%;
            bottom: 0;
            margin-left: -1px;

            svg {
                fill: none;
                stroke: $secondary;
                stroke-width: 8;
                z-index: 10;
                transition: all 0.3s;
            }

            &::after {
                @extend %arrow-after;
                transform-origin: center left;
            }

            &:hover {


                svg {
                    stroke: $primary;
                    transform: translateX(5px);
                }

                &::after {
                    transform: scaleX(1);
                    transition-delay: 0s;
                }
            }
        }
    }

    // @include media($Medium) {
    //     width: 100%;
    //     min-height: 100vh;
    //     display: none;

    //     &__arrow {
    //         display: none;
    //     }
    // }
}

.ms-slide {

    &--visible {
        visibility: visible;
    }

    &--hidden {
        visibility: hidden;
        display: none;
    }
}

/*=====  End of Front Slider  ======*/